.table-bill {
  margin: 20px 20px 0;
  max-width: 800px;
  border: 1px solid black;
}

.table-bill > tbody > tr > td {
  border: 1px solid black;
  text-align: center;
}

.table-bill > thead > tr > th {
  border: 1px solid black;
  text-align: center;
}

.remove-bill {}

.remove-bill:hover {
  display: inline-block;
  color: blue;
}
.btn-pay:hover {
  background: red;
}
.footer-bill {
  border-top: 1px solid transparent;
}
.info-bill {
  margin-top: 40px;
}
.date-picker {
  border: none;
}

.icon-edit {
  color: red;
}
.row-info {
  margin-left: 20px;
}
.total-bill {
  margin: 30px 10px 0 0;
}

input {
  border: none;
  background: none;
}

.btn-edit {
  background: none;
  border: none;
  float: right;
}

.scrollbody {
  display: block;
  width: 100%;
  height: 200px;
  overflow-y: scroll;
}

.scrollhead {
  display: block;
  margin-right: 12px;
}
