#product_name-error {
  color: red;
  position: absolute;
  top: 30px;
  left: 15px;
  font-weight: normal;
}

#product_price-error {
  color: red;
  position: absolute;
  top: 30px;
  left: 15px;
  font-weight: normal;
}

#product_renting_fee-error {
  color: red;
  position: absolute;
  top: 30px;
  left: 15px;
  font-weight: normal;
}
#product_image-error {
  color: red;
  position: absolute;
  top: 50px;
  left: 16px;
  font-weight: normal;
}
