.row-product {
  img {
    float: left;
    height: 230px;
    width: 200px;
  }
}
.table-product {
  width: 50%;
}
.button {
  margin-top: 130px;
}
.btn-list{
  text-align: center;
  div {
    display: inline-table;
  }
}
.box-product {
  width: 94%;
}
