.add-image {
  width:40%;
}
.add-item {
  width:60%;
}
.btn-add-product {
  float: right;
  border: none;
  background: transparent;
}
.modal-add-product {
  width: 100%;
  .body-add-product {
    height: 550px;
    background: white;
    .btn-back {
      border: 1px solid gray;
      margin-right: 40px;
    }
    .input-text {
      position: relative;
      margin-bottom: 15px;
      color: #2A88BC;
      border:1px solid #2A88BC;
      width: 100%;
    }
    .text-color {
      width: 40px;
    }
    .text-amount {
      width: 25px;
    }
    .btn-save {
      float: left;
      width: 65px;
    }
    .label-color {
      padding-left: 15px;
    }
    .label-color-xl {
        padding-left: 12px;
    }
    .btn-add-size {
      margin-left: 30px;
    }
    .select-category {
      height: 30px;
      width: 100%;
      background: #fff;
      color: #2A88BC;
      border:1px solid #2A88BC;
    }
    .select-size {
      height: 30px;
      background: #fff;
      color: #2A88BC;
      border:1px solid #2A88BC;

    }
    .checkbox-teal [type="checkbox"]:checked+label:before {
       border-color: transparent #009688 #009688 transparent;
     }
  }
}
