.btn-add-category {
  float: right;
  width: 200px;
  border: 1px solid #3c8dbc;
  border-radius: 1px;
  margin-right: 30px;
}
.btn-category {
  border-radius: 1px;
}
.btn-group-category {
  width: 50%;
  height: 50px;
}
