.row-item {
  margin-top: 30px;
}
.box-category {
  position: relative;
  border: 1px solid #e7e7e7;
  transition: all .35s ease;
  margin-top: 30px;
}
.box-name-category {
  heigth: 100%;
  background-color: white;
}
.box-category:hover {
  border: 1px solid #3c8dbc;
  transform: scale(1.05,1.05);
  webkit-transform: scale(1.05,1.05);
  .name-category {
    background-color: #3c8dbc;
    color: white;
    opacity: 0.9;
  }
  .btn-group {
    display: block;
   }
}
.new-category {
  margin-top: 30px;
}
.category__name_field {
  line-height: 25px;
  width: 300px;
  border: 1px solid #3c8dbc;
}
.confirm-delete {
  padding: 15px;
  position: relative;
}
.preview {
  img {
    width: 100%;
  }
}
