<div class="row docs-premium-template" id="categories">
  <button type="button" class="btn btn-default btn-add-category" data-target="#modal-default">
    <%= link_to "Thêm danh mục", new_admin_category_path, remote: true, class: "" %>
  </button>
  <hr>
  <div id="add-categories"></div>
  <%= render @categories %>
</div>
<%= render  "modal" %>
<div class="row paginate">
  <%= paginate @categories, theme: 'twitter-bootstrap-4' %>
</div>
